* {
    margin: 0px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    background: #FF6347;
    height: 50px;
    width: 100%;
box-shadow: 0 2x 0 rgba(0, 0, 0, 0.4);
}


.navlist {
    display: flex;
    justify-content: space-around;
    width: 300px;

}

.navlist a:hover {
    background: rgb(25, 35, 91)
}

li {
    list-style: none;
    color: #fff;
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: #f0f0f0
}

#welcome-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgb(237, 189, 100);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

/*.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6rem;
} */

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/*460px / 16px = 28.75 em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}